Step 1 : create virtual env.
    https://code.visualstudio.com/docs/python/environments#_virtual-environments

Step 2 : install below packages.

pip install gensim
pip install git+https://github.com/boudinfl/pke.git
!python -m spacy download en
pip install bert-extractive-summarizer --upgrade --force-reinstall
pip install spacy==2.1.3 --upgrade --force-reinstall
pip install -U nltk
pip install -U pywsd
pip install flask
pip install flask_core