<div class="container-fluid">
    <div class="row mt-5">
      <div class="col-md-6 content">
        <div class="form-floating">
          <textarea class="form-control textarea"
           id="textarea"
           placeholder="Type or paste your text here"
           style="height: 700px" [(ngModel)]="text" autocomplete="off" spellcheck="false"></textarea>

          <label for="floatingTextarea2">Enter Text</label>
        </div>
        <br>
        <label for="floatingTextarea2"> Or Select file (.txt, .doc, .pdf only)</label>
        <input type='file' (change)="fileChanged($event)">
        <br>
        <button
          type="button"
          class="btn btn-success mt-3"
          style="
            --bs-btn-padding-y: 1rem;
            --bs-btn-padding-x: 2rem;
            --bs-btn-font-size: 1.5rem;
            border-radius: 40px;
          "
          (click)="generateSummary()"
        >
          Generate Summary
        </button>

        <button
          type="button"
          class="btn btn-success mt-3 ms-3"
          style="
            --bs-btn-padding-y: 1rem;
            --bs-btn-padding-x: 2rem;
            --bs-btn-font-size: 1.5rem;
            border-radius: 40px;
          "
          (click)="generateQuestions()"
        >
          Generate Questions
        </button>
        
      </div>

      <div class="col-md-6">
        
         <div class="ms-3" *ngIf="word_count > 0">
          <h1 class="display-1">Word count : </h1>
          <div class="card">
            <div class="card-body">
              <span style="font-size: 18px;" class="px-1">{{word_count}}</span>
            </div>
          </div>
        </div>

        <div class="ms-3" *ngIf="keywords.length > 0">
          <h1 class="display-1">Keywords : </h1>
          <div class="card">
            <div class="card-body">
              <span style="font-size: 18px;" class="px-1" *ngFor="let key of keywords">{{key}} ,</span>
            </div>
          </div>
        </div>

        <div class="ms-3 mt-3" *ngIf="summrized_text">
          <h1 class="display-6">Summary : </h1>
              <p class="card p-3" id="summery">
                {{summrized_text}}
              </p>
        </div>

        <div class="ms-3 mt-3" *ngIf="questions.length > 0">
          <h1>Questions : </h1>
          <button
            type="button"
            class="btn btn-success mt-3 ms-3"
            (click)="printQuestions(container)"
          >
          Print Questions
        </button>
          <div>
            <div class="card-body shadow p-2 mb-3" style="font-size: 18px;" *ngFor="let q of questions">
              <h3 class="text-success"><b>{{q.question}}</b></h3>
              <div class="row g-3 align-items-center" *ngFor="let option of q.options; index as i">
                <div class="col-auto">
                  <label for="inputPassword6" class="col-form-label">{{i+1}}.</label>
                </div>
                <div class="col-auto">
                  <input type="text" class="form-control" value="{{option}}">
                </div>
              </div>
              <!-- <p class="" *ngFor="let option of q.options; index as i">
                {{i+1}}. <input type="text" value="{{option}}" class="form-control">
              </p> -->
            </div>
          </div>
          <div  hidden #container>
            <h1>Questions : </h1>
            <div class="card-body shadow p-2 mb-3" style="font-size: 18px;" *ngFor="let q of questions; index as j">
              <h3 class="text-success"><b>{{j+1}}. {{q.question}}</b></h3>
              <p class="" *ngFor="let option of q.options; index as i">
                {{i+1}}. {{option}}
              </p>
            </div>
          </div>
        </div>

        <div class="ms-3 mt-3" *ngIf="questions.length > 0">
          <h1>Answers : </h1>

          <div class="card-body pb-2" style="font-size: 18px;" *ngFor="let q of questions; index as i">
            <h3 class="text-success"><b>{{i+1}}.{{q.answer}}</b></h3>
          </div>

        </div>
      </div>
    </div>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
  </div>


